<% provide(:title, "Help &mdash; Tunetap".html_safe) %>
<%= render 'layouts/page_hero', tagline: "Let's make music" %>
<div class='row' id='contact'>
	<div class='container'>
		<h2 class='BackHeader'>Contact Tunetap</h2>
		
		<div class='row'>
			<div class='span3 ContactLink'>
				<p><a href="mailto:thetap@tunetapmusic.com">General requsts</a></p>
			</div>
			<div class='span8 ContactDetail'>
				<p>Send us any questions or comments you have about Tunetap.</p>
			</div>
		</div>
		
		<div class='row'>
			<div class='span3 ContactLink'>
				<p><%= link_to "Beta access", beta_url %></p>
			</div>
			<div class='span8 ContactDetail'>
				<p>Join our select group of beta testers as the first members of the Tunetap community.</p>
			</div>
		</div>
		
		<div class='row'>
			<div class='span3 ContactLink'>
				<p><a href="mailto:thetap@tunetapmusic.com">Press inquiries</a></p>
			</div>
			<div class='span8 ContactDetail'>
				<p>Contact our press and media team.</p>
			</div>
		</div>
		
		<div class='row'>
			<div class='span3 ContactLink'>
				<p><%= link_to "Jobs and careers", jobs_url %></p>
			</div>
			<div class='span8 ContactDetail'>
				<p>Join our team and help us build the future of creativity.</p>
			</div>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>