<% provide(:title, "nepTune Music") %>
<div class='row hero-unit' id='signup'>
	<div class='offset5' id='homeRight'>
		<h1 id='heroTagline'><%= @tagline %></h1>
		<p id='heroBlurb'>
			nepTune will be launching later this year.<br />
			Sign up for exclusive access to our platform.
		</p>
	</div>
</div>
<div class='row' id='marketplace'>
	Marketplace
</div>
<div class='row' id='artists'>
	Artists
</div>
<div class='row' id='consumers'>
	Consumers
</div>
<div class='row' id='partners'>
	Partners
</div>
<footer class='row'>
	Footer
</footer>