<% provide(:title, "Marketplace &mdash; Tunetap".html_safe) %>
<%= render 'layouts/page_hero', tagline: "A farmer's market for a world of music" %>
<div class='row' id='product'>
	<div class='container'>
		<div class='span5 offset1' id='market'>
			<h2 class='BackHeader'>Marketplace</h2>
			<p class='BackBlurb'>Tunetap is a marketplace where buyers and sellers get together. Discussions happen, ideas flow, and connections are formed. Great artists from around the world come together to share their creations with a global audience. And unlike most stores, everyone has the opportunity to engage with the artists and makers, resulting in friendships and personal connections that benefits everyone involved. Consumers can express their appreciation for an artist's work, and creatives can help each other achieve great things. There is nothing &mdash; and no one &mdash; to get in the way. Tunetap is a farmer's market for a world of music.</p>
		</div>
		<div class='span5' id='artistsText'>
			<h2 class='BackHeader'>Artists</h2>
			<p class='BackBlurb'>Every artist has a story to tell. Every song has its inspiration. And for the first time, Tunetap allows artists to tell that story. Tunetap isn't just about amazing music &mdash; it's also about the people and experiences behind the music.</p>
			<p class='BackBlurb'>Tunetap's community and powerful social interactions connect artists with other talented creatives from around the world. Albums, music videos, and live events come together through a diverse range of skills, and Tunetap allows artists to find the resources they need to create awesome music.</p>
		</div>
	</div>
</div>
<div class='row' id='fans'>
	<div class='container'>
		<div class='span10 offset1'>
			<h2 class='BackHeader'>Music lovers</h2>
			<div class='span5' id='consumers1'>
				<p class='BackBlurb'>Great music is everywhere. And yet, it's often difficult to find, buried beneath machine-processed songs, technical hurdles and advertisements. Tunetap provides a beautiful, accessible platform to discover, share, and enjoy great music, without DRM, restrictions, or ads. By putting the focus on the art, everything on Tunetap supports the artists who produce great music.</p>
			</div>
			<div class='span5' id='consumers2'>
				<p class='BackBlurb'>Hear a song you like? Find an artist with a unique sound? With one tap or click, instantly share it with a friend, or let all your friends know. And when you do, the artist knows too. The next time you check out that artist, you might just find a special discount, VIP access, or new mix, just for you. So go ahead &mdash; discover, listen, share, and buy. And every time you do, you might just get a little something in return.</p>
			</div>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>