<% provide(:title, "nepTune — Press & News") %>
<%= render 'layouts/page_hero', tagline: "The future of creativity" %>
<div class='row' id='news'>
	<div class='container'>
		<div class='span6' id='newsEntries'>
			<h2 class='BackHeader'>News</h2>
			<p class='BackBlurb'>Our team at nepTune Music is building the future of creativity. Stay tuned for exciting updates!</p>
		</div>
		<div class='span5' id='press'>
			<h2 class='BackHeader'>Press</h2>
			<p class='BackBlurb'>
				For all press inquiries, please contact us at<br />
				<a href='mailto:press@neptunemusic.co'>press@neptunemusic.co</a>
			</p>
			<p class='BackBlurb'>Press kit coming soon!</p>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>