<% provide(:title, "Terms &mdash; Tunetap".html_safe) %>
<%= render 'layouts/page_hero', tagline: "Language of the soul" %>
<div class='row' id='terms'>
  <div class='container'>
    <h2 class='BackHeader'>Terms</h2>
    <table class='BackBlurb' id='termsTable'>
      <tr>
        <td class='LegalTerms'></td>
        <td class='SimpleTerms'>
          <p><em>These simple terms carry no legal significance and are in no way an alternative, substitute, or representation of the actual Terms of Service. They are provided AS IS, without guarantee of accuracy or completeness, and are simply to help you understand the terms.</em></p>
        </td>
      </tr>
      <tr>
        <td class='LegalTerms'><h3>1. Definitions</h3></td>
        <td class='SimpleTerms'><h3>1. Definitions</h3></td>
      </tr>
      <tr>
        <td class='LegalTerms'>
          <ol>
            <li><strong>Content</strong>: the text, graphics, photos, sounds, music, videos, audiovisual combinations, interactive features, and any other materials you may view, access, or contribute to the Service</li>
            <li><strong>Service</strong>: the Tunetap website and any products, software, data feeds, and services provided to you from nepTune Technologies through the Tunetap website and related media, including but not limited to mobile apps</li>
            <li><strong>Terms</strong>: These terms of Service, found at tunetapmusic.com/terms</li>
            <li><strong>We</strong> or <strong>us</strong>: nepTune Technologies, its parent corporation or corporate sibling(s) (if any) , officers, directors, employees and agents (including interns and other team members)</li>
          </ol>
        </td>
        <td class='SimpleTerms'></td>
      <tr>
        <td class='LegalTerms'><h3>2. Your acceptance</h3></td>
        <td class='SimpleTerms'><h3>2. Your acceptance</h3></td>
      </tr>
      <tr>
        <td class='LegalTerms'>
          <p>By using or visiting the Tunetap website or any products, software, data feeds, and services provided to you from nepTune Technologies through the Service you signify your agreement to these Terms. If you do not agree to any of these Terms of Service, please do not use this Service.</p>
        </td>
        <td class='SimpleTerms'>
          <p>If you use or visit Tunetap, you agree to these terms. If you don't agree to these terms, please don't use this service. (If you'd like, let us know what concerns you)</p>
        </td>
      </tr>
      <tr>
        <td class='LegalTerms'>
          <p>Although we may attempt to notify you when major changes are made to these Terms of Service, you should periodically review the most-up-to-date version at tunetapmusic.com/terms. nepTune Technologies may, at its sole discretion, modify or revise these Terms and policies at any time, and you agree to be bound by such modifications or revisions. Nothing in these Terms confers any third-party rights or benefits.</p>
        </td>
        <td class='SimpleTerms'>
          <p>We will attempt to let you know when we make important changes to these terms, but you should occasionally check for the latest terms, available at tunetapmusic.com/terms. We may modify or revise these terms at any time, and you agree to these new terms. These terms do not provide any rights or benefits that do not come directly from Tunetap</p>
        </td>
      </tr>
      <tr>
        <td class='LegalTerms'><h3>3. Service</h3></td>
        <td class='SimpleTerms'><h3>3. Service</h3></td>
      </tr>
      <tr>
        <td class='LegalTerms'>
          <p>These Terms of Service apply to all users of the Service, including users who are also contributors (Artists) of Content on the Service. The Service includes all aspects of the Tunetap website and related offerings, including but not limited to, artist profiles, Soundmaps, and other applications and mobile apps.</p>
        </td>
        <td class='SimpleTerms'>
          <p>These terms apply to all users, including Artists. The service covers all of Tunetap, including everything on the site and our mobile apps.</p>
        </td>
      </tr>
      <tr>
        <td class='LegalTerms'>
          <p>The Service may contain links to third-party websites and services that are not owned or controlled by nepTune Technologies. nepTune Technologies has no control over, and assumes no responsibility for the content, privacy policies, or practices of any third-party websites. Furthermore, nepTune Technologies will not and cannot censor or edit the content of any third-party website. Accordingly, we encourage you to be aware when you leave the Service and to read the terms and conditions and privacy policy of each other website you visit.</p>
        </td>
        <td class='SimpleTerms'>
          <p>Tunetap may link to other websites and services that we don't control. We aren't responsible for anything on other sites. Be careful when you leave Tunetap, and read the terms and privacy policy of those other sites.</p>
        </td>
      </tr>
      <tr>
        <td class='LegalTerms'><h3>4. nepTune Technologies accounts</h3></td>
        <td class='SimpleTerms'><h3>4. nepTune Technologies accounts</h3></td>
      </tr>
      <tr>
        <td class='LegalTerms'>
          <p>In order to access some features of the Service, you will have to create a nepTune Technologies account. You may never use another person’s account without permission. When creating your account, you must provide accurate and complete information. You are solely responsible for the activity that occurs on your account, and must keep your account password secure. Notify nepTune Technologies immediately of any breach of security or unauthorized access or use of your account.</p>
        </td>
        <td class='SimpleTerms'>
          <p>You'll need an account to use some parts of Tunetap. You cannot use someone else's account without permission &mdash; you alone are responsible for what happens with your account. Let us know if you've been hacked.</p>
        </td>
      </tr>
      <tr>
        <td class='LegalTerms'>
          <p>While nepTune Technologies will not be liable for any losses incurred from any unauthorized use of your account, you may be liable for the losses of nepTune Technologies or others due to such unauthorized use.</p>
        </td>
        <td class='SimpleTerms'>
          <p>We will not be liable for damages if your account gets hacked, but you may be liable for our damages and losses (if any) if you get hacked</p>
        </td>
      </tr>
      <tr>
        <td class='LegalTerms'><h3>5. General use of the Service &mdash; permissions and restrictions</h3></td>
        <td class='SimpleTerms'><h3>5. General use of the Service &mdash; permissions and restrictions</h3></td>
      </tr>
      <tr>
        <td class='LegalTerms'>
          <p>nepTune Technologies hereby grants you permission to access and use the Service as detailed in these Terms of Service, provided that:</p>
          <ol>
            <li>
              You agree not to distribute any part of the Service or Content, in any medium, without prior written authorization from nepTune Technologies. Unless nepTune Technologies makes means of distribution available in the Service, you must agree not to:
              <ol>
                <li>alter or modify any part of the Service;</li>
                <li>access Content through any technology or means other than the music player and video playback pages on the Service itself, the authorized Apps, or other explicitly authorized means nepTune Technologies may designate;</li>
                <li>
                  use the Service for any of the following commercial uses unless you obtain nepTune Technologies’s prior written approval:
                  <ol>
                    <li>the sale of access to the Service;</li>
                    <li>the sale of advertising, sponsorships, or promotions placed on or with the Service of Content; or</li>
                    <li>The sale of advertising, sponsorships, or promotions on any page of an ad-enabled blog or website containing Content delivered via the Service, unless other material not obtained from nepTune Technologies appears on the same page and is sufficient value to be the basis for such sales.</li>
                  </ol>
                </li>
              </ol>
            </li>
            <li>
              Prohibited commercial uses <em>do not</em> include:
              <ol>
                <li>uploading an original video to the Tunetap website, or maintaining an original artist profile on Tunetap to promote your artist enterprise;</li>
                <li>displaying Tunetap videos and songs through the an ad-enabled blog or website, subject to the advertising restrictions set forth above in section 5.1; or</li>
                <li>any use that nepTune Technologies expressly authorizes in writing.</li>
              </ol>
            </li>
            <li>You agree that the Service will be updated from time to time by nepTune Technologies and affiliated third parties. These updates are designed to improve, enhance, and further develop the Service and may take the form of bug fixes, enhanced functions, new software capabilities, and completely new versions. You agree to receive such updates, and permit nepTune Technologies to deliver these to you, as part of your use of the Service.</li>
            <li>You agree not to use or launch any automated system, including without limitation, &#8220;robots&#8221;, &#8220;spiders&#8221;, or &#8220;offline readers&#8221;, that accesses the Service in a manner that sends more request messages to the nepTune Technologies servers in a given period of time than a human can reasonably produce in the same period using a conventional web browser. Notwithstanding the forgoing, nepTune Technologies grants the operators of public search engines permission to use spiders to copy materials from the sight for the sole purpose of creating publicly available searchable indices, but not caches or archives, of such materials. nepTune Technologies reserves the right to revoke these exceptions either generally or in specific cases. You agree not to collect or harvest any personally identifiable information, including account names, from the Service, nor to use the communication systems provided by the Service (e.g., comments, email) for any commercial solicitation purposes. You agree not to solicit, for commercial purposes, any users of the Service with respect to the Content.</li>
            <li>In your use of the Service, you will comply with applicable laws.</li>
            <li>nepTune Technologies reserves the right to discontinue any aspect of the Service at any time.</li>
          </ol>
        </td>
        <td class='SimpleTerms'>
          <p>You're allowed to use Tunetap, with the following conditions:</p>
          <ol>
            <li>
              You won't distribute any part of Tunetap, including any media from Tunetap, anywhere, without our permission. Unless we allow you to share or distribute, you agree not to:
              <ol>
                <li>change any part of Tunetap;</li>
                <li>access the content through any means other than in the official ways that we provide;</li>
                <li>
                  use Tunetap for any of the following commercial uses unless you have our approval:
                  <ol>
                    <li>sell access to Tunetap;</li>
                    <li>sell advertising on Tunetap; or</li>
                    <li>
                      sell advertising on any site or blog that contains content from Tunetap, unless that site or blog has a lot of other content that doesn't come from Tunetap.</li>
                  </ol>
                </li>
              </ol>
            </li>
            <li>
              You <em>are</em> allowed to:
              <ol>
                <li>
                  upload or link a video that you created, or maintaining an original profile on Tunetap to promote you or your band;</li>
                <li>
                  show songs and videos from Tunetap on an ad-supported blog or site as long as you follow the restrictions written above; or</li>
                <li>do anything that we allow in writing.</li>
              </ol>
            </li>
            <li>
              We will frequently update Tunetap to make it better. You agree to let us provide these updates.</li>
            <li>
              You won't launch any attack on Tunetap that accesses the site more frequently than a human reasonably could (DoS/DDoS attack). However, search engines are allowed to crawl our site and copy content needed to make it searchable. Search engines may not cache or archive our content without permission. We may deny permission for search engines to access our site. You agree that you won't collect personal information from other users.</li>
            <li>You will follow applicable laws when you use Tunetap.</li>
            <li>We may discontinue any part of Tunetap at any time.</li>
          </ol>
        </td>
      </tr>
      <tr>
        <td class='LegalTerms'><h3>6. Your use of content</h3></td>
        <td class='SimpleTerms'><h3>6. Your use of content</h3></td>
      </tr>
      <tr>
        <td class='LegalTerms'>
          <p>In addition to the general restrictions above, the following restrictions and conditions apply specifically to your use of Content:</p>
          <ol>
            <li>The Content of the Service, and the Marks on the Service, are owned by or licensed to nepTune Technologies. These marks are subject to copyright and other intellectual property rights under the law.</li>
            <li>Content is provided to you AS IS. You may access Content for your information and personal use solely as intended through the provided functionality of the Service and as permitted under these Terms of Service. You shall not download any Content unless you see a “download” or similar link displayed by nepTune Technologies on the Service for that Content. You shall not copy, reproduce, distribute, transmit, broadcast, display, sell, license, or otherwise exploit any Content for any other purposes without the prior written consent of nepTune Technologies. nepTune Technologies reserves all rights not expressly granted in and to the Service and the Content.</li>
            <li>You agree not to circumvent, disable, or otherwise interfere with security-related features of the Service or features that prevent or restrict use of copying of any Content or enforce limitations on use of the Service or the Content therein.</li>
            <li>You understand that when using the Service, you will be exposed to Content from a variety of sources, and that nepTune Technologies is not responsible for the accuracy, usefulness, safety, or intellectual property rights of or relating to such Content. You further understand and acknowledge that you may be exposed to Content that is inaccurate, offensive, indecent, or objectionable, and you agree to waive, and hereby do waive, any legal or equitable rights or remedies you have or may have against nepTune Technologies with respect thereto, and to the extent permitted by applicable law, agree to indemnify and hold harmless nepTune, its owners, operators, affiliates, licensors, and licensees to the fullest extent allowed by law regarding all matters related to your use of the Service.</li>
          </ol>
        </td>
        <td class='SimpleTerms'>
          <p>The following restrictions also apply when you use the content on Tunetap:</p>
          <ol>
            <li>We own the content and trademarks on Tunetap. These are subject to relevant copyright and IP laws.</li>
            <li>We won't change any content on the site. You can only access content through the methods provided directly on the site, and only as these terms allow. You can't download content unless we provide an explicit 'download' link, and you won't distribute or sell any content for any reason without our permission. We withhold rights not granted by these terms.</li>
            <li>You won't circumvent or disable the security features and restrictions on content access on Tunetap.</li>
            <li>When you use Tunetap, you will see content from a lot of sources, and we are not responsible for the accuracy of the content, or whether it infringes any copyright or patents. You may see content that you don't like or disagree with, and agree that we are not at fault if you see this content.</li>
          </ol>
        </td>
      </tr>
      <tr>
        <td class='LegalTerms'><h3>7. Your content and conduct</h3></td>
        <td class='SimpleTerms'><h3>7. Your content and conduct</h3></td>
      </tr>
      <tr>
        <td class='LegalTerms'>
          <p>All nepTune Technologies account holders may submit user comments, but only Artists may submit videos and music. You understand that nepTune Technologies does not guarantee any confidentiality with respect to any Content you submit.</p>
        </td>
        <td class='SimpleTerms'>
          <p>All users can create comments, but only artists can submit music and videos. We can't guarantee that your comments and content are confidential.</p>
        </td>
      </tr>
      <tr>
        <td class='LegalTerms'>
          <p>You shall be solely responsible for your own Content and the consequences of submitting and publishing your Content on the service. You affirm, represent, and warrant that you own or have the necessary licenses, rights, consents, and permissions to publish Content you submit; and you license to nepTune all patent, trademark, trade secret, copyright or other proprietary rights in and to such Content for publication on the Service pursuant to these Terms of Service.</p>
        </td>
        <td class='SimpleTerms'>
          <p>You alone are responsible for your content and any consequences that may result. You promise that you have permission to publish your cotent, and when you submit the content you provide us with the necessary rights to publish and display your content on Tunetap.</p>
        </td>
      </tr>
      <tr>
        <td class='LegalTerms'>
          <p>For clarity, you retain all of your ownership rights in your Content. However, by submitting Content to the Tunteap website, you hereby grant nepTune Technologies a worldwide, non-exclusive, royalty-free, sublicenseable, and transferable license to use, reproduce, distribute, prepare derivative works of, display, and perform the Content in connection with the Service and nepTune Technologies’ business, including without limitation for promoting and redistributing part or all of the Service (and derivative works thereof) in any media formats and through any media channels. Prior to such use, nepTune Technologies will attempt to contact you and provide you notice of such use. You also hereby grant each user of the Service a non-exclusive license to access your Content through the Service, and to use, reproduce, distribute, display, and perform such Content as permitted through the functionality of the Service and under these Terms of Service. The above licenses granted by you in video and music Content you submit to the Service terminate within a commercially reasonable time after you remove or delete your videos or music from the Service. You understand and agree, however, that nepTune Technologies may retain, but not display, distribute, or perform, server copies of your Content that have been removed or deleted. The above licenses granted by you in user comments you submit are perpetual and irrevocable.</p>
        </td>
        <td class='SimpleTerms'>
          <p>To be clear, you own the content you post on Tunetap. When you submit content, you allow us and other users from all around the world to use, distribute, and create derived works (including remixes and covers) from the content. We may also use your content to promote Tunetap; if we do, we will let you know. You allow users to access, perform, and create derived works from your content. These terms will expire in a reasonable amount of time after you remove your content from Tunetap. If you remove your content, we may retain, but will not display or allow access to such content.</p>
        </td>
      </tr>
      <tr>
        <td class='LegalTerms'>
          <p>You further agree that Content you submit to the Service will not contain third party copyrighted material, or material that is subject to other third party proprietary rights, unless you have permission from the rightful owner of the material or you are otherwise legally entitled to post the material and to grant nepTune Technologies all of the license rights granted herein.</p>
        </td>
        <td class='SimpleTerms'>
          <p>You agree that the content you submit don't contain copyrights owned by other people, unless you have permission from the original copyright owners or you are allowed to post the content. In either case, you give us the rights specified above.</p>
        </td>
      </tr>
      <tr>
        <td class='LegalTerms'>
          <p>You further agree that you will not submit to the Service any Content or other material that is contrary to the Terms, currently found at tunetapmusic.com/terms, which may be updated form time to time, or contrary to applicable local, national, and international laws and regulations.</p>
        </td>
        <td class='SimpleTerms'>
          <p>You won't upload or submit anything that goes against the our terms, or any laws.</p>
        </td>
      </tr>
      <tr>
        <td class='LegalTerms'>
          <p>nepTune Technologies does not endorse any Content submitted to the Service by any user or other licensor, or any opinion, recommendation, or advice expressed therein, and nepTune Technologies expressly disclaims any and all liability in connection with Content. nepTune Technologies does not permit copyright infringing activities and infringement of intellectual property rights on the Service, and nepTune Technologies will remove all Content if properly notified that such Content infringes on another’s intellectual property rights. nepTune Technologies reserves the remove Content without prior notice.</p>
        </td>
        <td class='SimpleTerms'>
          <p>We don't endorse or support any content, comments, advice, or recommendations on Tunetap, and we are not liable for any damages that might come from any content. We don't support copyright infringement, and infringing content will be removed if we are notified.</p>
        </td>
      </tr>
      <tr>
        <td class='LegalTerms'><h3>8. Account termination policy</h3></td>
        <td class='SimpleTerms'><h3>8. Account termination policy</h3></td>
      </tr>
      <tr>
        <td class='LegalTerms'>
          <p>nepTune Technologies will terminate a user’s access to the Service if, under appropriate circumstances, the user is determined to be a repeat infringer.</p>
        </td>
        <td class='SimpleTerms'>
          <p>If you infringe on our terms multiple times, we will delete your account.</p>
        </td>
      </tr>
      <tr>
        <td class='LegalTerms'>
          <p>nepTune Technologies reserves the right to decide whether Content violates these Terms of Service for reasons other than copyright infringement, such as, but not limited to, pornography, obscenity, or excessive length. nepTune Technologies may at any time, without prior notice and in its sole discretion, remove such Content and/or terminate a user’s account for submitting such material in violation of these Terms of Service.</p>
        </td>
        <td class='SimpleTerms'>
          <p>We might decide that content violates our terms for reasons other than copyright infringement. If so, we might remove such content and might delete the uploader's account.</p>
        </td>
      </tr>
      <tr>
        <td class='LegalTerms'><h3>8. Notice of infringement</h3></td>
        <td class='SimpleTerms'><h3>8. Notice of infringement</h3></td>
      </tr>
      <tr>
        <td class='LegalTerms'>
          <p>If you are a copyright owner or an agent thereof and believe that any Content infringes upon your copyrights, you may submit a notification pursuant to the Digital Millenium Copyright Act (“DMCA”) by providing our Copyright Agent with the following information in writing  (see 17 U.S.C 512(c)(3) for further detail):</p>
          <ol>
            <li>A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed;</li>
            <li>Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site;</li>
            <li>Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled and information reasonably sufficient to permit the service provider to locate the material;</li>
            <li>Information reasonably sufficient to permit the service provider to contact you, such as an address, telephone number, and, if available, an electronic mail;</li>
            <li>A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and</li>
            <li>A statement that the information in the notification is accurate, and under penalty of perjury, that you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
          </ol>
        </td>
        <td class='SimpleTerms'>
          <p>If you think that content infringes on your copyright, you can let us know by providing the following information in writing:</p>
          <ol>
            <li>a signature of the person or agent of the person who owns the allegedly infringed copyright;</li>
            <li>identification of the original work being infringed, or a sample of a number of works being infringed;</li>
            <li>identification of the allegedly infringing content on Tunetap, or a sample of a number of infringing items;</li>
            <li>enough contact information to get back to you;</li>
            <li>a statement that you believe the allegedly infringing material is not authorized by the copyright holder, an agent, or the law; and</li>
            <li>a statement that your notification is accurate, and a binding statement that you are authorized to act on behalf of the owner of the right that is allegedly being infringed.</li>
          </ol>
        </td>
      </tr>
      <tr>
        <td class='LegalTerms'>
          <p>nepTune Technologies’ designated Copyright Agent to receive notifications of claimed infringement is Feifan Zhou, (325 College Ave., Ithaca, NY; feifan@me.com; (401) 680-0897). For clarity, only DMCA notices should go to the Copyright Agent; any other feedback, comments, requests for technical support, and other communications should be directed to nepTune Technologies’ customer service via thetap@tunetapmusic.com. You acknowledge that if you fail to comply with all of the requirements of this Section 5(D), your DMCA notice may not be valid.</p>
        </td>
        <td class='SimpleTerms'>
          <p></p>
        </td>
      </tr>
      <tr>
        <td class='LegalTerms'><h3>9. Counter notice</h3></td>
        <td class='SimpleTerms'><h3>9. Counter notice</h3></td>
      </tr>
      <tr>
        <td class='LegalTerms'>
          <p>If you believe that your Content that was removed (or to which access was disabled) is not infringing, or that you have the authorization from the copyright owner, the copyright owner's agent, or pursuant to the law, to post and use the material in your Content, you may send a counter-notice containing the following information to the Copyright Agent:</p>
          <ol>
            <li>Your physical or electronic signature;</li>
            <li>Identification of the Content that has been removed or to which access has been disabled and the location at which the Content appeared before it was removed or disabled;</li>
            <li>A statement that you have a good faith belief that the Content was removed or disabled as a result of mistake or a misidentification of the Content; and</li>
            <li>Your name, address, telephone number, and e-mail address, a statement that you consent to the jurisdiction of the federal court in <strong>(TBD)</strong>, and a statement that you will accept service of process from the person who provided notification of the alleged infringement.</li>
          </ol>
        </td>
        <td class='SimpleTerms'>
          <p>If we removed or disabled your content for copyright reasons, and you think that's incorrect, you can send a counter-notice with the following information to the Copyright Agent:</p>
          <ol>
            <li>your signature</li>
            <li>identification of the removed content and where it was located before it was removed</li>
            <li>a statement that you believe the content was removed due to a mistake; and</li>
            <li>your contact information and that you agree to the jurisdiction of the court in <strong>TBD</strong> and a statement that you will accept any legal processes from the person who notified us of alleged infringement</li>
          </ol>
        </td>
      </tr>
      <tr>
        <td class='LegalTerms'>
          <p>If a counter-notice is received by the Copyright Agent, nepTune Technologies may send a copy of the counter-notice to the original complaining party informing that person that it may replace the removed Content or cease disabling it in 10 business days. Unless the copyright owner files an action seeking a court order against the Content provider, member or user, the removed Content may be replaced, or access to it restored, in 10 to 14 business days or more after receipt of the counter-notice, at nepTune Technologies’ sole discretion.</p>
        </td>
        <td class='SimpleTerms'>
          <p>If we receive a counter-notice, we will forward it to whoever sent us the original notice. We will also notify them that we will reinstate the content in 10 business days, and we may do so unless the copyright owner gets the courts involved.</p>
        </td>
      </tr>
      <tr>
        <td class='LegalTerms'><h3>10. Warranty disclaimer</h3></td>
        <td class='SimpleTerms'><h3>10. Warranty disclaimer</h3></td>
      </tr>
      <tr>
        <td class='LegalTerms'>
          <p>YOU AGREE THAT YOUR USE OF THE SERVICES SHALL BE AT YOUR SOLE RISK. TO THE FULLEST EXTENT PERMITTED BY LAW, NEPTUNE TECHNOLOGIES, ITS OFFICERS, DIRECTORS, EMPLOYEES, AND AGENTS DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, IN CONNECTION WITH THE SERVICES AND YOUR USE THEREOF. NEPTUNE TECHNOLOGIES MAKES NO WARRANTIES OR REPRESENTATIONS ABOUT THE ACCURACY OR COMPLETENESS OF THIS SITE'S CONTENT OR THE CONTENT OF ANY SITES LINKED TO THIS SITE AND ASSUMES NO LIABILITY OR RESPONSIBILITY FOR ANY (I) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT, (II) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF OUR SERVICES, (III) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN, (IV) ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM OUR SERVICES, (V) ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE WHICH MAY BE TRANSMITTED TO OR THROUGH OUR SERVICES BY ANY THIRD PARTY, AND/OR (VI) ANY ERRORS OR OMISSIONS IN ANY CONTENT OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF ANY CONTENT POSTED, EMAILED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE SERVICES. NEPTUNE TECHNOLOGIES DOES NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY PRODUCT OR SERVICE ADVERTISED OR OFFERED BY A THIRD PARTY THROUGH THE SERVICES OR ANY HYPERLINKED SERVICES OR FEATURED IN ANY BANNER OR OTHER ADVERTISING, AND NEPTUNE TECHNOLOGIES WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR MONITORING ANY TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES. AS WITH THE PURCHASE OF A PRODUCT OR SERVICE THROUGH ANY MEDIUM OR IN ANY ENVIRONMENT, YOU SHOULD USE YOUR BEST JUDGMENT AND EXERCISE CAUTION WHERE APPROPRIATE.</p>
        </td>
        <td class='SimpleTerms'>
          <p>We can't promise that the information on Tunetap, or any site that is linked on Tunetap, is accurate or complete. We are not liable for errors or inaccurate content, injury or damage resulting from Tunetap, unauthorized access to our site and stored content, any interruption of our service, bugs or malicious content that doesn't come directly from us, or any loss or damage. We are not responsible for third-party content or interactions with third-parties of any sort. Be careful, and use your best judgment.</p>
        </td>
      </tr>
      <tr>
        <td class='LegalTerms'><h3>11. Limitation of liability</h3></td>
        <td class='SimpleTerms'><h3>11. Limitation of liability</h3></td>
      </tr>
      <tr>
        <td class='LegalTerms'>
          <p>IN NO EVENT SHALL NEPTUNE TECHNOLOGIES, ITS OFFICERS, DIRECTORS, EMPLOYEES, OR AGENTS, BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES WHATSOEVER RESULTING FROM ANY (I) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT, (II) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF OUR SERVICES, (III) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN, (IV) ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM OUR SERVICES, (V) ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE, WHICH MAY BE TRANSMITTED TO OR THROUGH OUR SERVICES BY ANY THIRD PARTY, AND/OR (VI) ANY ERRORS OR OMISSIONS IN ANY CONTENT OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF YOUR USE OF ANY CONTENT POSTED, EMAILED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE SERVICES, WHETHER BASED ON WARRANTY, CONTRACT, TORT, OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT THE COMPANY IS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE FOREGOING LIMITATION OF LIABILITY SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW IN THE APPLICABLE JURISDICTION.</p>
        </td>
        <td class='SimpleTerms'>
          <p>We will not be liable to you for mistakes in the content, injury or damage when you access or use Tunetap, unauthorized access to our site and stored content, any interruption of our service, bugs or malicious content that doesn't come directly from us, or any loss or damage. We will not be liable for these events under any circumstances. This limited liability is taken as far as the law allows.</p>
        </td>
      </tr>
      <tr>
        <td class='LegalTerms'>
          <p>YOU SPECIFICALLY ACKNOWLEDGE THAT NEPTUNE TECHNOLOGIES SHALL NOT BE LIABLE FOR CONTENT OR THE DEFAMATORY, OFFENSIVE, OR ILLEGAL CONDUCT OF ANY THIRD PARTY AND THAT THE RISK OF HARM OR DAMAGE FROM THE FOREGOING RESTS ENTIRELY WITH YOU.</p>
        </td>
        <td class='SimpleTerms'>
          <p>Specifically, you acknowledge that we are not liable for offensive or illegal actions by a third party, and that you bear the risk of damage from any such actions.</p>
        </td>
      </tr>
      <tr>
        <td class='LegalTerms'><h3>12. Availability</h3></td>
        <td class='SimpleTerms'><h3>12. Availability</h3></td>
      </tr>
      <tr>
        <td class='LegalTerms'>
          <p>The Service is controlled and offered by nepTune Technologies from its facilities in the United States of America. nepTune Technologies makes no representations that the Service is appropriate or available for use in other locations. Those who access or use the Service from other jurisdictions do so at their own volition and are responsible for compliance with local law.</p>
        </td>
        <td class='SimpleTerms'>
          <p>This service is offered from the United States of America. We don't guarantee that Tunetap is available or appropriate for other locations. You are responsible for ensuring that your use complies with your laws.</p>
        </td>
      </tr>
      <tr>
        <td class='LegalTerms'><h3>13. Indemnity</h3></td>
        <td class='SimpleTerms'><h3>13. Indemnity</h3></td>
      </tr>
      <tr>
        <td class='LegalTerms'>
          <p>To the Extent permitted by applicable law, you agree to defend, indemnify and hold harmless nepTune Technologies, its parent corporation or corporate sibling(s) (if any) , officers, directors, employees and agents, form and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to attorney’s fees) arising from: (I) your use of and access to the Service; (II) your violation of any terms of these Terms of Service: (III) your violation of any third party right, including without limitation any copyright, property, or privacy right; or (IV) any claim that your Content caused damage to a third party. This defense and indemnification obligation will survive these Terms of Service and your use of the Service.</p>
        </td>
        <td class='SimpleTerms'>
          <p>If you use Tunetap, violate any of these terms, violate any third party right, including copyright or privacy, or upload content that could harm someone else, you agree to claim personality responsibility, and compensate us for any fines that may result from these actions.</p>
        </td>
      </tr>
      <tr>
        <td class='LegalTerms'><h3>14. Ability to accept Terms of Service</h3></td>
        <td class='SimpleTerms'><h3>14. Ability to accept Terms of Service</h3></td>
      </tr>
      <tr>
        <td class='LegalTerms'>
          <p>You affirm that you are either more than 18 years of age, or an emancipated minor, or possess legal parental or guardian consent, and are fully able and competent to enter into the terms, conditions, obligations, affirmations, representations, and warranties set forth in these Terms of Service, and to abide by and comply with these Terms of Service. In any case, you affirm that you are over the age of 13, as the Service is not intended for children under 13. If you are under 13 years of age, then please do not use the Service. There are lots of other great web sites for you. Talk to your parents about what sites are appropriate for you.</p>
        </td>
        <td class='SimpleTerms'>
          <p>You guarantee that you are legally able to enter, agree to be bound by, and comply by these terms. You guarantee that you are at least 13 years old. If you are not 13, please don't use Tunetap, and ask your parents about websites that are right for you.</p>
        </td>
      </tr>
      <tr>
        <td class='LegalTerms'><h3>15. Assignment</h3></td>
        <td class='SimpleTerms'><h3>15. Assignment</h3></td>
      </tr>
      <tr>
        <td class='LegalTerms'>
          <p>These Terms of Service, and any rights and licenses granted hereunder, may not be transferred or assigned by you, but may be assigned by nepTune Technologies without restriction.</p>
        </td>
        <td class='SimpleTerms'>
          <p>You can't transfer these terms or bind someone else to these terms, but we may do so without restriction.</p>
        </td>
      </tr>
      <tr>
        <td class='LegalTerms'><h3>16. General</h3></td>
        <td class='SimpleTerms'><h3>16. General</h3></td>
      </tr>
      <tr>
        <td class='LegalTerms'>
          <p>You agree that: (I) the Service shall be deemed solely based in the state of Delaware; and (II) the Service shall be deemed a passive website that does not give rise to personal jurisdiction over nepTune Technologies, either specific or general, in jurisdictions other than <strong>(TBD state)</strong>. These Terms of Service shall be governed by the internal substantive laws of the State of Delaware, without respect to its conflict of laws principles. Any claim or dispute between you and nepTune Technologies that arises in whole or in part from the Service shall be decided exclusively by a court of competent jurisdiction located in <strong>TBD county, state</strong>. These Terms of Service and any other legal notices published by nepTune Technologies on the Service, shall constitute the entire agreement between you and nepTune Technologies concerning the Service. If any provision of these Terms of Service is deemed invalid by a court of competent jurisdiction, the invalidity of such provision shall not affect the validity of the remaining provisions of these Terms of Service, which shall remain in full force and effect. No waiver of any term of this these Terms of Service shall be deemed a further or continuing waiver of such term or any other term, and nepTune Technologies’ failure to assert any right or provision under these Terms of Service shall not constitute a waiver of such right or provision. nepTune Technologies reserves the right to amend these Terms of Service at any time and without notice, and it is your responsibility to review these Terms of Service for any changes. Your use of the Service following any amendment of these Terms of Service will signify your assent to and acceptance of its revised terms. YOU AND NEPTUNE TECHNOLOGIES AGREE THAT ANY CAUSE OF ACTION ARISING OUT OF OR RELATED TO THE SERVICES MUST COMMENCE WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES. OTHERWISE, SUCH CAUSE OF ACTION IS PERMANENTLY BARRED.</p>
        </td>
        <td class='SimpleTerms'>
          <p>Tunetap and its users do not make decisions on behalf of nepTune Technologies. These terms are governed by the laws of Delaware. Any disputes that arise will be decided in a court in TBD. These terms and other notices that we publish on the site make up the entire agreement regarding Tunetap between you and us. If any part of these terms are declared invalid, that will not affect the validity of the rest of the terms, which will remain effective. Waiving a portion of these terms is not a waiving of any other portion of these terms, and our failure to enforce these terms does not mean that the terms are waived. We make change these terms at any time, and you are responsible for occasionally reviewing these terms. By using Tunetap, you agree to these terms. Any action you want to take against the service must begin within one year after the event that prompted your action takes place. Otherwise, you cannot take such action against us.</p>
        </td>
      </tr>
    </table>
  </div>
</div>
<%= render 'layouts/footer' %>