<% provide(:title, "nepTune — Terms") %>
<%= render 'layouts/page_hero', tagline: "Language of the soul" %>
<div class='row' id='terms'>
	<div class='container'>
		<h2 class='BackHeader'>Terms</h2>
		<p class='BackBlurb'>Coming soon</p>
	</div>
</div>
<%= render 'layouts/footer' %>