<% provide(:title, "nepTune — Terms") %>
<%= render 'layouts/page_hero', tagline: "Language of the soul" %>
<div class='row' id='terms'>
  <div class='container'>
    <h2 class='BackHeader'>Terms</h2>
    <table class='BackBlurb' id='termsTable'>
      <tr>
        <td class='LegalTerms'><h3>1. Definitions</h3></td>
        <td class='SimpleTerms'><h3>1. Definitions</h3></td>
      </tr>
      <tr>
        <td class='LegalTerms'><h3>2. Your Acceptance</h3></td>
        <td class='SimpleTerms'><h3>2. Your Acceptance</h3></td>
      </tr>
      <tr>
        <td class='LegalTerms'>
          <p>By using or visiting the Tunetap website or any products, software, data feeds, and services provided to you from nepTune Technologies through the Service you signify your agreement to these Terms. If you do not agree to any of these Terms, please do not use this Service.</p>
        </td>
      </tr>
      <tr>
        <td class='LegalTerms'>
          <p>Although we may attempt to notify you when major changes are made to these Terms, you should periodically review the most-up-to-date version at tunetapmusic.com/terms. nepTune Technologies may, at its sole discretion, modify or revise these Terms and policies at any time, and you agree to be bound by such modifications or revisions. Nothing in these Terms confers any third-party rights or benefits.</p>
        </td>
      </tr>
      <tr>
        <td class='LegalTerms'><h3>3. Service</h3></td>
        <td class='SimpleTerms'><h3>3. Service</h3></td>
      </tr>
      <tr>
        <td class='LegalTerms'>
          <p>These Terms apply to all users of the Service, including users who are also contributors (Artists) of Content on the Service. “Content” includes the text, graphics, photos, sounds, music, videos, audiovisual combinations, interactive features, and any other materials you may view, access, or contribute to the Service. The Service includes all aspects of the Tunetap website, including but not limited to, artist profiles, Soundmaps, and other applications.</p>
        </td>
      </tr>
      <tr>
        <td class='LegalTerms'>
          <p>The Service may contain links to third-party websites that are not owned or controlled by nepTune Technologies. nepTune Technologies has no control over, and assumes no responsibility for the content, privacy policies, or practices of any third-party websites. Furthermore, nepTune Technologies will not and cannot censor or edit the content of any third-party website. Accordingly, we encourage you to be aware when you leave the Service and to read the terms and conditions and privacy policy of each other website you visit.</p>
        </td>
      </tr>
      <tr>
        <td class='LegalTerms'><h3>4. nepTune Technologies Accounts</h3></td>
        <td class='SimpleTerms'><h3>4. nepTune Technologies Accounts</h3></td>
      </tr>
      <tr>
        <td class='LegalTerms'>
          <p>In order to access some features of the Service, you will have to create a nepTune Technologies account. You may never use another person’s account without permission. When creating your account, you must provide accurate and complete information. You are solely responsible for the activity that occurs on your account, and must keep your account password secure. Notify nepTune Technologies immediately of any breach of security or unauthorized access or use of your account.</p>
        </td>
      </tr>
      <tr>
        <td class='LegalTerms'>
          <p>While nepTune Technologies will not be liable for any losses incurred from any unauthorized use of your account, you may be liable for the losses of nepTune Technologies or others due to such unauthorized use.</p>
        </td>
      </tr>
      <tr>
        <td class='LegalTerms'><h3>5. General Use of the Service &mdash; Permissions and Restrictions</h3></td>
        <td class='SimpleTerms'><h3>5. General Use of the Service &mdash; Permissions and Restrictions</h3></td>
      </tr>
      <tr>
        <td class='LegalTerms'>
          <p>nepTune Technologies hereby grants you permission to access and use the Service as detailed in these Terms, provided that:</p>
          <ol>
            <li>
              You agree not to distribute any part of the Service or Content, in any medium, without prior written authorization from nepTune Technologies. Unless nepTune Technologies makes means of distribution available in the Service, you must agree not to:
              <ol>
                <li>alter or modify any part of the Service;</li>
                <li>access Content through any technology or means other than the music player and video playback pages on the Service itself, the authorized Apps, or other explicitly authorized means nepTune Technologies may designate;</li>
                <li>
                  use the Service for any of the following commercial uses unless you obtain nepTune Technologies’s prior written approval:
                  <ol>
                    <li>the sale of access to the Service;</li>
                    <li>the sale of advertising, sponsorships, or promotions placed on or with the Service of Content; or</li>
                    <li>The sale of advertising, sponsorships, or promotions on any page of an ad-enabled blog or website containing Content delivered via the Service, unless other material not obtained from nepTune Technologies appears on the same page and is sufficient value to be the basis for such sales.</li>
                  </ol>
                </li>
              </ol>
            </li>
            <li>
              Prohibited commercial uses <em>do not</em> include:
              <ol>
                <li>uploading an original video to the Tunetap website, or maintaining an original artist profile on Tunetap to promote your artist enterprise;</li>
                <li>displaying Karmonix videos and songs through the  on an ad-enabled blog or website, subject to the advertising restrictions set forth above in section <strong>FIX</strong>; or</li>
                <li>any use that Neptune Technologies expressly authorizes in writing.</li>
              </ol>
            </li>
            <li>You agree that the Service will be updated from time to time by nepTune Technologies and affiliated third parties. These updates are designed to improve, enhance, and further develop the Service and may take the form of bug fixes, enhanced functions, new software capabilities, and completely new versions. You agree to receive such updates, and permit nepTune Technologies to deliver these to you, as part of your use of the Service.</li>
            <li>You agree not to use or launch any automated system, including without limitation, &#8220;robots&#8221;, &#8220;spiders&#8221;, or &#8220;offline readers&#8221;, that accesses the Service in a manner that sends more request messages to the nepTune Technologies servers in a given period of time than a human can reasonably produce in the same period using a conventional web browser. Notwithstanding the forgoing, nepTune Technologies grants the operators of public search engines permission to use spiders to copy materials from the sight for the sole purpose of creating publicly available searchable indices, but not caches or archives, of such materials. nepTune Technologies reserves the right to revoke these exceptions either generally or in specific cases. You agree not to collect or harvest any personally identifiable information, including account names, from the Service, nor to use the communication systems provided by the Service (e.g., comments, email) for any commercial solicitation purposes. You agree not to solicit, for commercial purposes, any users of the Service with respect to the Content.</li>
            <li>In your use of the Service, you will comply with applicable laws.</li>
            <li>nepTune Technologies reserves the right to discontinue any aspect of the Service at any time.</li>
          </ol>
        </td>
      </tr>
      <tr>
        <td class='LegalTerms'><h3>5. Your Use of Content</h3></td>
        <td class='SimpleTerms'><h3>5. Your Use of Content</h3></td>
      </tr>
    </table>
  </div>
</div>
<%= render 'layouts/footer' %>