<header>
  <%= render 'layouts/app_header' %>
  <%= render 'layouts/playbar' %>
</header>
<div id='artistPageContainer'>
  <%= render 'layouts/artist_sidebar' %>
  <div id='artistPageContent'>
  	<h1>Burble</h1>
  </div>
</div>