<header>
  <%= render 'layouts/app_header' %>
  <%= render 'layouts/playbar' %>
</header>
<div id='artistPageContainer'>
  <%= render 'layouts/artist_sidebar' %>
  <div id='artistPageContent'>
  	<div id='eventsCalendarHeader'>
  		<div id='calendarNavigation'>
	  		<span class='InlineNavigation'>&#59399;</span>
	  		<span class='InlineNavigation'>&#59401;</span>
	  	</div>
  		<span id='calendarMonth'>June 2013</span>
  		<div id='calendarViewMode'>
  			<span class='InlineViewMode ViewModeSelected' id='calendarGrid' onclick="setCalendarDisplayMode('CalendarGrid')">&#59402;</span>
  			<span class='InlineViewMode' id='calendarColumn' onclick="setCalendarDisplayMode('CalendarColumn')">&#59404;</span>
  			<span class='InlineViewMode' id='calendarList' onclick="setCalendarDisplayMode('CalendarList')">&#59403;</span>
  		</div>
  	</div>
  	<div class='CalendarGrid' id='eventsCalendar'>
  		<div id='weekdayHeadings'>
  			<div class='CalendarHeading'>
  				<h2>Sunday</h2>
  			</div>
  			<div class='CalendarHeading'>
  				<h2>Monday</h2>
  			</div>
  			<div class='CalendarHeading'>
  				<h2>Tuesday</h2>
  			</div>
  			<div class='CalendarHeading'>
  				<h2>Wednesday</h2>
  			</div>
  			<div class='CalendarHeading'>
  				<h2>Thursday</h2>
  			</div>
  			<div class='CalendarHeading'>
  				<h2>Friday</h2>
  			</div>
  			<div class='CalendarHeading'>
  				<h2>Saturday</h2>
  			</div>
  		</div>
      <div class='CalendarUnitContainer'>
    		<div class='CalendarUnit CalendarUnitOtherMonth CalendarUnitHasEvent'>
    			<div class='CalendarUnitMonth'>May</div>
    			<div class='CalendarUnitDay'>26</div>
    		</div>
    		<div class='CalendarUnit CalendarUnitOtherMonth'>
    			<div class='CalendarUnitMonth'>May</div>
    			<div class='CalendarUnitDay'>27</div>
    		</div>
    		<div class='CalendarUnit CalendarUnitOtherMonth'>
    			<div class='CalendarUnitMonth'>May</div>
    			<div class='CalendarUnitDay'>28</div>
    		</div>
    		<div class='CalendarUnit CalendarUnitOtherMonth'>
    			<div class='CalendarUnitMonth'>May</div>
    			<div class='CalendarUnitDay'>29</div>
    		</div>
    		<div class='CalendarUnit CalendarUnitOtherMonth'>
    			<div class='CalendarUnitMonth'>May</div>
    			<div class='CalendarUnitDay'>30</div>
    		</div>
    		<div class='CalendarUnit CalendarUnitOtherMonth'>
    			<div class='CalendarUnitMonth'>May</div>
    			<div class='CalendarUnitDay'>31</div>
    		</div>
    		<div class='CalendarUnit CalendarUnitColLast'>
    			<div class='CalendarUnitMonth'>June</div>
    			<div class='CalendarUnitDay'>1</div>
    		</div>
    		<div class='CalendarUnit'>
    			<div class='CalendarUnitMonth'>June</div>
    			<div class='CalendarUnitDay'>2</div>
    		</div>
    		<div class='CalendarUnit'>
    			<div class='CalendarUnitMonth'>June</div>
    			<div class='CalendarUnitDay'>3</div>
    		</div>
    		<div class='CalendarUnit'>
    			<div class='CalendarUnitMonth'>June</div>
    			<div class='CalendarUnitDay'>4</div>
    		</div>
    		<div class='CalendarUnit'>
    			<div class='CalendarUnitMonth'>June</div>
    			<div class='CalendarUnitDay'>5</div>
    		</div>
    		<div class='CalendarUnit'>
    			<div class='CalendarUnitMonth'>June</div>
    			<div class='CalendarUnitDay'>6</div>
    		</div>
    		<div class='CalendarUnit'>
    			<div class='CalendarUnitMonth'>June</div>
    			<div class='CalendarUnitDay'>7</div>
    		</div>
    		<div class='CalendarUnit CalendarUnitColLast'>
    			<div class='CalendarUnitMonth'>June</div>
    			<div class='CalendarUnitDay'>8</div>
    		</div>
    		<div class='CalendarUnit'>
    			<div class='CalendarUnitMonth'>June</div>
    			<div class='CalendarUnitDay'>9</div>
    		</div>
    		<div class='CalendarUnit'>
    			<div class='CalendarUnitMonth'>June</div>
    			<div class='CalendarUnitDay'>10</div>
    		</div>
    		<div class='CalendarUnit CalendarUnitHasEvent'>
    			<div class='CalendarUnitMonth'>June</div>
    			<div class='CalendarUnitDay'>11</div>
    		</div>
    		<div class='CalendarUnit'>
    			<div class='CalendarUnitMonth'>June</div>
    			<div class='CalendarUnitDay'>12</div>
    		</div>
    		<div class='CalendarUnit'>
    			<div class='CalendarUnitMonth'>June</div>
    			<div class='CalendarUnitDay'>13</div>
    		</div>
    		<div class='CalendarUnit'>
    			<div class='CalendarUnitMonth'>June</div>
    			<div class='CalendarUnitDay'>14</div>
    		</div>
    		<div class='CalendarUnit CalendarUnitColLast'>
    			<div class='CalendarUnitMonth'>June</div>
    			<div class='CalendarUnitDay'>15</div>
    		</div>
    		<div class='CalendarUnit CalendarUnitRowLast'>
    			<div class='CalendarUnitMonth'>June</div>
    			<div class='CalendarUnitDay'>16</div>
    		</div>
    		<div class='CalendarUnit CalendarUnitRowLast'>
    			<div class='CalendarUnitMonth'>June</div>
    			<div class='CalendarUnitDay'>17</div>
    		</div>
    		<div class='CalendarUnit CalendarUnitRowLast'>
    			<div class='CalendarUnitMonth'>June</div>
    			<div class='CalendarUnitDay'>18</div>
    		</div>
    		<div class='CalendarUnit CalendarUnitRowLast'>
    			<div class='CalendarUnitMonth'>June</div>
    			<div class='CalendarUnitDay'>19</div>
    		</div>
    		<div class='CalendarUnit CalendarUnitRowLast'>
    			<div class='CalendarUnitMonth'>June</div>
    			<div class='CalendarUnitDay'>20</div>
    		</div>
    		<div class='CalendarUnit CalendarUnitRowLast'>
    			<div class='CalendarUnitMonth'>June</div>
    			<div class='CalendarUnitDay'>21</div>
    		</div>
    		<div class='CalendarUnit CalendarUnitColLast'>
    			<div class='CalendarUnitMonth'>June</div>
    			<div class='CalendarUnitDay'>22</div>
    		</div>
      </div>
  	</div>
  </div>
</div>
<script type="text/javascript">
  function capitalizeFirstLetter(string) {
    return string.charAt(0).toLowerCase() + string.slice(1);
  }
  function setCalendarDisplayMode(cls) {
    $('#eventsCalendar').removeClass();
    $('#eventsCalendar').addClass(cls);
    var viewModeID = '#' + capitalizeFirstLetter(cls);
    $('.InlineViewMode').each(function() {
      $(this).removeClass('ViewModeSelected');
    })
    console.log(viewModeID);
    $(viewModeID).addClass('ViewModeSelected');
  }
</script>