<header>
  <%= render 'layouts/app_header' %>
  <%= render 'layouts/playbar' %>
</header>
<div id='artistPageContainer'>
  <%= render 'layouts/artist_sidebar' %>
  <div id='artistPageContent'>
  	<div id='eventsCalendarHeader'>
  		<div id='calendarNavigation'>
	  		<span class='InlineNavigation'>&#59399;</span>
	  		<span class='InlineNavigation'>&#59401;</span>
	  	</div>
  		<span id='calendarMonth'>June 2013</span>
  		<div id='calendarViewMode'>
  			<span class='InlineViewMode ViewModeSelected' id='calendarGrid' onclick="setCalendarDisplayMode('CalendarGrid')">&#59402;</span>
  			<span class='InlineViewMode' id='calendarColumn' onclick="setCalendarDisplayMode('CalendarColumn')">&#59404;</span>
  			<span class='InlineViewMode' id='calendarList' onclick="setCalendarDisplayMode('CalendarList')">&#59403;</span>
  		</div>
  	</div>
  	<div class='CalendarGrid' id='eventsCalendar'>
  		<div id='weekdayHeadings'>
  			<div class='CalendarHeading'>
  				<h2>Sunday</h2>
  			</div>
  			<div class='CalendarHeading'>
  				<h2>Monday</h2>
  			</div>
  			<div class='CalendarHeading'>
  				<h2>Tuesday</h2>
  			</div>
  			<div class='CalendarHeading'>
  				<h2>Wednesday</h2>
  			</div>
  			<div class='CalendarHeading'>
  				<h2>Thursday</h2>
  			</div>
  			<div class='CalendarHeading'>
  				<h2>Friday</h2>
  			</div>
  			<div class='CalendarHeading'>
  				<h2>Saturday</h2>
  			</div>
  		</div>
      <%= render 'layouts/events_calendar', month_start: Date.today.beginning_of_month, events: @events %>
  	</div>
  </div>
</div>
<script type="text/javascript">
  function capitalizeFirstLetter(string) {
    return string.charAt(0).toLowerCase() + string.slice(1);
  }
  function setCalendarDisplayMode(cls) {
    $('#eventsCalendar').removeClass();
    $('#eventsCalendar').addClass(cls);
    var viewModeID = '#' + capitalizeFirstLetter(cls);
    $('.InlineViewMode').each(function() {
      $(this).removeClass('ViewModeSelected');
    })
    console.log(viewModeID);
    $(viewModeID).addClass('ViewModeSelected');
  }
</script>