<!-- <textarea id='songsComment' placeholder='Say something about these songs'></textarea> -->
<div id='uploadSongsTarget'>
  <%= form_tag '/audio', method: "post", class: 'dropzone', id: "new_song_form", multipart: true do %>
    <p class='dz-message' id='uploadSongsPrompt'>Drag your songs here or click to choose files</p>
    <div><%= file_field_tag "files[]", id: 'new_songs_input', multiple: true %></div>
  <% end %>
</div>
