<div class='HowToApply'>
	<p class='BackBlurb ModalText'>We don't have a lengthy application process or cheesy questions. Just be chill and wow us with your awesomeness.</p>
	<ol class='JobAppSteps'>
		<li>Send an email to <a href="mailto:jobs@neptunemusic.co">jobs@neptunemusic.co</a> and tell us about yourself.</li>
		<li>Attach or link to your resume, portfolios, videos, or anything else that might be relevant.</li>
		<li>Let us know if someone referred you to this position.</li>
	</ol>
	<p class='BackBlurb ModalText'>We'll be in touch shortly!</p>
</div>