<div class='RelatedMedia'>
  <div class='RelatedMediaGallery'>
    <% media.each do |m| %>
      <% m_name = m.class.name.underscore %>
      <% partial_name = "comment_media_#{ m_name }_thin" %>
      <%= render "shared/#{ partial_name }", element: m %>
    <% end %>
  </div>
  <span class='RelatedMediaGalleryFadeBottom'></span>
</div>