<div class='SongControls'>
  <div class='PlayPause'>
    <span class='Icon PlayIcon'
          data-url='<%= escape_data_url song.audio.path %>'
          data-name='<%= CGI::escape_html song.name %>'
          onclick='playThis(this)'>
      &#59416;
    </span>
    <span class='Icon PauseIcon' onclick="togglePause()">&#59417;</span>
  </div>
</div>