
<div id='artistPageContainer'>
  <%= render 'layouts/artist_sidebar', artist: @artist, curr_nav: 2, is_editing: @is_editing, is_following: @is_following  %>
  <div class='DJAX XHidden' id='artistPageContent'>
    <!-- <%= javascript_include_tag "soundmanager2-jsmin" %> -->
    <div id="mainPartial">
      <%= image_tag @song.image.path %>

      

      <p>
        Click the button to play:  
        <%= button_tag "Play!", onclick:"playStuff('#{@song.audio.path}')", class:"btn btn-primary" %>
      </p>
      
    </div>
  </div>
</div>