

<%= javascript_include_tag "soundmanager2-jsmin" %>
<div id="mainPartial">
  <script type="text/javascript">
    alert('test');
  </script>


  <h1>Songs#show</h1>
  <p>Find me in app/views/songs/show.html.erb</p>
  Blah blah blah
  <script>
    alert('hi');
    console.log('hi!');
  </script>
</div>
