

<!-- <%= javascript_include_tag "soundmanager2-jsmin" %> -->
<div id="mainPartial">
  <%= image_tag @song.image.path %>

  
  <script type="text/javascript">
    alert('test');
  </script>

  <p>
    Click the button to play:  
    <%= button_tag "Play!", onclick:"playStuff('#{@song.audio.path}')", class:"btn btn-primary" %>
  </p>
  
  <script>
    alert('hi');
    console.log('hi!');
  </script>
</div>
