#attendeesListBar {
  box-sizing: border-box;
  display: inline-block;
  // float: left;
  left: 0;
  top: 60px;
  position: absolute;
  vertical-align: top;
  width: 200px;
  div {
    padding: 0 16px;
    &#attendees {
      border-top: 1px groove $white;
    }
  }
  h1 {
    color: $white;
    font-family: $OpenSans;
    font-size: 28px;
    font-weight: 300;
    margin: 10px auto;
  }
  .AttendeeList {
    list-style: none;
    padding-left: 0;
    li {
      height: 40px;
      overflow: hidden;
      position: relative;
      &.ReserveAttendee {
        display: none;
      }
      .AttendeePhoto {
        display: inline-block;
        left: 0;
        position: absolute;
        top: 5px;
      }
      .AttendeeName {
        color: white;
        display: inline-block;
        font-family: $OpenSans;
        font-size: 14px;
        font-weight: 400;
        left: 38px;
        margin: 0;
        position: absolute;
        top: 10px;
        white-space: nowrap;
      }
    }
  }
  #invite {
    border-top: 2px groove #333;
    padding-top: 12px;
    p {
      color: $inactiveWhite;
      font-size: 13px;
      font-weight: 600;
      @include vendor-prefix(transition, color 0.25s);
      &:hover {
        color: $white;
        cursor: pointer;
      }
    }
  }
  #inviteModal {
    @include Modal;
    padding: 0;
    .m-body {
      h3 {
        margin-top: 0;
      }
      .btn-group {
        padding: 0;
      }
      .btn-group-label {
        display: inline-block;
        position: relative;
        vertical-align: top;
        width: 270px;
        p {
          color: transparentize(black, 0.25);
          display: none;
          font-size: 12px;
          font-weight: 400;
        }
      }
      #inviteSelect {
        display: none;
        padding: 0;
        .SelectFollower {
          border-radius: 4px;
          padding: 8px;
          width: 70px;
          // @include vendor-prefix(transition, outline 0.5s);
          @include vendor-prefix(transition, background 0.25s);
          &:hover {
            cursor: pointer;
          }
          &.Selected {
            // outline: 2px solid transparentize($nepTuneOrange, 0.5);
            background: transparentize($nepTuneOrange, 0.75);
          }
          .SelectFollowerName {
            font-size: 12px;
            font-weight: 400;
            margin: 4px auto 0 auto;
            text-align: center;
          }
        }
      }
    }
  }
}