@import "fonts";
@import "variables";

body {
  font-family: $Sans !important;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.btn {
  font-family: $Sans !important;
}

#header {
  background: $nepTuneOrange;
  color: white;
  height: 50px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  #headerContainer {
    background: green;
    height: 50px;
    margin: auto;
    width: 1280px;
    div {
      display: inline-block;
      line-height: 50px;
    }
  }
}

.Hidden {
  display: none;
}

.Icon {
  font-family: $Zonda !important;   
}

input, textarea {
  font-family: $Sans !important;
}

.OptionsGroup {
  border-bottom: 1px solid #DEDEDE;
  border-top: 1px solid #DEDEDE;
  box-shadow: 0 8px 6px -6px transparentize(black, 0.75), 0 -8px 6px -6px transparentize(black, 0.75);
  margin-bottom: 12px;
  div, p {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    margin: 0;
    text-align: center;
  }
}

.SuccessIcon {
  color: $success;
}

/***** Mixins *****/
@mixin vendor-prefix($name, $argument) {
  #{$name}: #{ $argument };
  -webkit-#{$name}: #{ $argument };
  -ms-#{$name}: #{ $argument };
  -moz-#{$name}: #{ $argument };
  -o-#{$name}: #{ $argument };
}