@import "fonts";
@import "variables";


/***** Mixins *****/
@mixin RowShadowBottom {
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}
@mixin RowShadowTop {
	box-shadow: 0px -8px 6px -6px rgba(0, 0, 0, 0.25);
}

@mixin vendor-prefix($name, $argument) {
	#{$name}: #{ $argument };
	-webkit-#{$name}: #{ $argument };
	-ms-#{$name}: #{ $argument };
	-moz-#{$name}: #{ $argument };
	-o-#{$name}: #{ $argument };
}

/***** Shared styles *****/
.btn {
	font-family: $Signika !important;
	font-size: 1.25em;
	a {
		color: inherit;
		&:visited {
			color: inherit;
		}
	}
}

.CheckboxLabel {
	display: inline-block;
	font-family: $Lato;
	font-size: 16px;
	line-height: 22px;
	margin: 5px 10px 0 2px;
	position: relative;
	top: 2px;
}

.Icon {
	font-family: $Zonda;
}

.modal-header {
	h3 {
		color: $nepTuneOrange;
		font-family: $PTSans;
		text-align: left;
	}
}
.modal-body {
	background-color: $white;
	text-align: left;
	@media (max-width: 767px) {
		height: 300px;
		max-height: 300px;
	}
	p {
		font-size: 16px;
		font-weight: 400;
	}
	ul {
		margin-left: 25px;
	}
}

.Spinner {
	-webkit-animation: spin 2s infinite linear;
	-moz-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	-ms-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
	text-align: center;
}

.tooltip {
	font-family: $Lato;
	font-size: 13px;
	font-weight: 400;
	/* .tooltip-inner {
		background-color: darken($nepTuneTeal, 5%);
		border: 2px solid rgba(0, 0, 0, 0.75);
	}
	&.in {
		filter: alpha(opacity=90);
		opacity: 0.95;
	} */
}

form label {
	display: none;
}

input[type='text'], input[type='password'], input[type='email'] {
	border-radius: 3px;
	font-family: $Lato;
	font-size: 18px;
	font-weight: 400;
	padding: 8px;
}
input[type='submit'] {
	font-family: $Lato;
	font-weight: bold;
}
ul {
	font-family: $Lato;
}
ol {
	font-family: $Lato;
}

footer {
	@include RowShadowBottom;
	background-image: $Dashed;
	color: $white;
	padding: 30px;
	z-index: -1;
	ul {
		list-style: none;
		margin-bottom: 30px;
		li {
			font-family: $Signika;
			font-size: 16px;
			font-weight: 300;
			line-height: 1.5em;
			&.FooterColHeading {
				font-weight: 600;
			}
			a {
				color: $white !important;
			}
		}
	}
	#footerLogo {
		display: block;
		height: 50px;
		margin: 15px auto;
		text-align: center;
		width: 259px;
	}
}

/***** Typography *****/
h1, h2, h3, h4, h5, h6 {
	font-family: $PTSans;
	line-height: 1.15em;
}

h1 {
	@media (min-width: 768px) {
		font-size: 64px;
		margin: 48px 0;
	}
}

h2 {
	@media (min-width: 768px) {
		font-size: 48px;
		margin: 36px 0;
	}
}

p {
	font-family: $Lato;
	@media (min-width: 768px) {
		font-size: 22px;
	}
	font-weight: 300;
	line-height: 1.5em;
}

ul {
	margin-left: 0;
	padding-left: 0;
}