$lightGrayBkg: #eee;
$nepTuneBlue: rgb(29, 190, 242);
$nepTuneOrange: rgb(241, 98, 20);
// $nepTuneOrangeHighlight: darken($nepTuneOrange, 15%);
$nepTuneOrangeHighlight: desaturate($nepTuneOrange, 25%);
$nepTuneTeal: rgb(13, 115, 147);
$white: rgba(255, 255, 255, 0.85);

$halfWhite: rgba(255, 255, 255, 0.5);
$inactiveWhite: rgba(255, 255, 255, 0.55);
$partialActiveWhite: rgba(255, 255, 255, 0.75);

$Dashed: image-url('dashed.png');
$Debut: image-url('debut.png');
$Txture: image-url('txture.png');
$Wallhash: image-url('wallhash.png');

/***** Music colors *****/
$albumOverlayOuter: transparentize(black, 0.1);
$albumOverlayInner: transparentize(black, 0.5);

/***** Mixins *****/
@mixin AnimateSideMargins {
	transition: margin 0.75s;
	-webkit-transition: margin 0.75s;
	animation-timing-function: ease-in-out;
	-moz-animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

@mixin DarkEngrave {
	color: transparentize(black, 0.25);
	font-size: 28px;
	font-weight: 600;
	text-shadow: 0px 1px transparentize(white, 0.75);
}

@mixin InlineIcons {
	color: $inactiveWhite;
	display: inline-block;
	font-family: $Zonda;
	font-size: 22px;				
	margin: 10px;
	transition: color 0.5s;
	-webkit-transition: color 0.5s;
}

@mixin AnimationEase {
	animation-timing-function: ease-in-out;
	-moz-animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

@mixin TranslucentBar {
	background: rgba(0, 0, 0, 0.70);
	display: inline-block;
	height: 50px;
	left: 0;
	position: absolute;
	right: 0;
	transition: bottom 0.75s, top 0.75s, left 0.75s, right 0.75s;
	-webkit-transition: bottom 0.75s, top 0.75s, left 0.75s, right 0.75s;
	@extend AnimationEase;
}

/***** Artist:Events page *****/
$calendarBorderStyle: 1px solid darken(#ddd, 3%);
$calendarUnitDayColor: #676767;
$otherMonthBackgroundColor: desaturate(darken(lighten($nepTuneOrange, 45%), 10%), 50%);
$otherMonthDayColor: transparentize(#676767, 0.50);
$otherMonthHasEventBackgroundColor: desaturate(darken(lighten($nepTuneOrange, 15%), 5%), 30%);
$otherMonthHasEventDayColor: transparentize(white, 0.25);