$lightGrayBkg: #eee;
$nepTuneBlue: rgb(29, 190, 242);
$nepTuneOrange: rgb(241, 98, 20);
// $nepTuneOrangeHighlight: darken($nepTuneOrange, 15%);
$nepTuneOrangeHighlight: desaturate($nepTuneOrange, 25%);
$nepTuneTeal: rgb(13, 115, 147);
$white: rgba(255, 255, 255, 0.85);

$halfWhite: rgba(255, 255, 255, 0.5);
$inactiveWhite: rgba(255, 255, 255, 0.55);
$partialActiveWhite: rgba(255, 255, 255, 0.75);

$Dashed: image-url('dashed.png');
$Txture: image-url('txture.png');
$Wallhash: image-url('wallhash.png');