$lightGrayBkg: #eee;
$nepTuneBlue: rgb(29, 190, 242);
$nepTuneOrange: rgb(241, 98, 20);
$nepTuneOrangeHighlight: darken($nepTuneOrange, 20%);
$nepTuneTeal: rgb(13, 115, 147);
$white: rgba(255, 255, 255, 0.85);

$halfWhite: rgba(255, 255, 255, 0.5);
$inactiveWhite: rgba(255, 255, 255, 0.55);
$partialActiveWhite: rgba(255, 255, 255, 0.75);

$Dashed: image-url('dashed.png');
$Debut: image-url('debut.png');
$Txture: image-url('txture.png');
$Wallhash: image-url('wallhash.png');

/***** Music colors *****/
$albumOverlayOuter: transparentize(black, 0.1);
$albumOverlayInner: transparentize(black, 0.5);

/***** Mixins *****/
@mixin AnimateSideMargins {
	transition: margin 0.75s;
	-webkit-transition: margin 0.75s;
	animation-timing-function: ease-in-out;
	-moz-animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

@mixin AnimateBackground {
	transition: background 0.5s;
	-webkit-transition: background 0.5s;
}

@mixin AppContentLayerShadow {
	box-shadow: 0 0 8px 8px transparentize(black, 0.75);
}

@mixin AppHeader {
	height: 100px;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	#pageHeader {
		background-color: $nepTuneOrange;
		height: 45px;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		width: 100%;
		div#pageHeaderContainer {
			margin: auto;
			width: 1200px;
			#headerNavLinks {
				color: white;
				display: inline-block;
				list-style: none;
			    //	max-width: 1200px;
                width: 312px;
				margin: 0;
				li {
					color: $inactiveWhite;
					display: inline-block;
					float: left;
					font-family: $OpenSans;
					font-size: 20px;
					font-weight: 400;
					margin: 10px 0 10px 32px;
				}
			}
			#headerSearch {
				display: inline-block;
				float: right;
				// margin-right: 32px;
				#headerSearchField {
					background-color: darken($nepTuneOrange, 5%);
					border: none;
					box-sizing: border-box;
					color: white;
					font-family: $OpenSans;
					font-size: 16px;
					font-weight: 300;
					height: 30px;
					margin: 6px 0 2px 0;
					width: 280px;
					&::-webkit-input-placeholder {
						color: $inactiveWhite;
					}
					&:-moz-placeholder {
						color: $inactiveWhite;
					}
					&::-moz-placeholder {
						color: $inactiveWhite;
					}
					&:-ms-input-placeholder {
						color: $inactiveWhite;
					}
					&:focus {
						background-color: darken($nepTuneOrange, 12%);
						border: none !important;
						box-shadow: none !important;
						outline: none;
					}
				}
			}
		}
	}

	#playbar {
		// background: $Txture;
		// border-bottom: 1px solid #eee;
		// margin-top: 45px;
		height: 80px;
		width: 100%;
	}

}

@mixin DarkEngrave {
	color: transparentize(black, 0.25);
	font-size: 28px;
	font-weight: 600;
	text-shadow: 0px 1px transparentize(white, 0.75);
}

@mixin InlineIcons {
	color: $inactiveWhite;
	display: inline-block;
	font-family: $Zonda;
	font-size: 22px;				
	margin: 10px;
	transition: color 0.5s;
	-webkit-transition: color 0.5s;
}

@mixin AnimationEase {
	animation-timing-function: ease-in-out;
	-moz-animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

@mixin TranslucentBar {
	background: rgba(0, 0, 0, 0.70);
	display: inline-block;
	height: 50px;
	left: 0;
	position: absolute;
	right: 0;
	transition: bottom 0.75s, top 0.75s, left 0.75s, right 0.75s, background 0.75s;
	-webkit-transition: bottom 0.75s, top 0.75s, left 0.75s, right 0.75s, background 0.75s;
	@extend AnimationEase;
}

@mixin EventNameStyle {
	font-family: $OpenSans;
	font-weight: 400;
	margin: 0;
}

/***** Artist:Events page *****/
$calendarBorderStyle: 1px solid darken(#ddd, 3%);
$calendarUnitDayColor: #676767;
$otherMonthBackgroundColor: desaturate(darken(lighten($nepTuneOrange, 45%), 10%), 50%);
$otherMonthDayColor: transparentize(#676767, 0.50);
$otherMonthHasEventBackgroundColor: desaturate(darken(lighten($nepTuneOrange, 15%), 5%), 30%);
$otherMonthHasEventDayColor: transparentize(white, 0.25);
