// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "fonts";
@import "variables";
@import "shared";

@import "custom_bootstrap";
@import "bootstrap";

body {
	background: $Txture;
}

header {
	@include AppHeader;
}

.AlbumArtMain {
	background-clip: content-box;
	display: inline-block;
	float: left;
	position: relative;
	text-align: center;
	width: 500px;
	img {
		background-clip:content-box;
		display: inline-block;
		-webkit-filter: blur(2 px);
	}
	#albumTrackListing {
		background-color: transparentize(black, 0.25);
	  background-position: center center;
	  background-repeat: no-repeat;
	  /* Safari 4-5, Chrome 1-9 */
	  /* Can't specify a percentage size? Laaaaaame. */
	  background: -webkit-gradient(radial, center center, 0, center center, 460, from($albumOverlayInner), to($albumOverlayOuter));
	  /* Safari 5.1+, Chrome 10+ */
	  background: -webkit-radial-gradient(circle, $albumOverlayInner, $albumOverlayOuter);
	  /* Firefox 3.6+ */
	  background: -moz-radial-gradient(circle, $albumOverlayInner, $albumOverlayOuter);
	  /* IE 10 */
	  background: -ms-radial-gradient(circle, $albumOverlayInner, $albumOverlayOuter);
		bottom: 0;
		display: inline-block;
		left: 0;
		opacity: 0;
		padding: 20px;
		position: absolute;
		right: 0;
		top: 0;
		&.Visible {
			@include AnimationEase;
			opacity: 1;
			transition: opacity 0.65s;
			-webkit-transition: opacity 0.65s;
		}
		.AlbumSongList {
			color: white;
			display: inline-block;
			font-family: $OpenSans;
			list-style: none;
			padding-left: 0;
			text-align: left;
			.AlbumSongListItem {
				font-weight: 700;
				margin-bottom: 4px;
				text-shadow: 0 2px black;
				.AlbumSongListItemNumber {
					font-weight: 300;
					margin-right: 10px;
				}
			}
		}
	}
}
.AlbumDetails {
	display: inline-block;
	padding: 20px 12px;
	position: relative;
	width: 460px;
	white-space: normal;
	p {
		@include DarkEngrave;
		font-size: 36px;
	}
}

#newAlbumContainer {
	@include AppContentLayerShadow;
	background: $Txture;
	bottom: 0;
	margin: 130px auto 0px auto;
	text-align: center;
	width: 1280px;
	#newAlbumInfo {
		#albumArt {
			position: relative;
			&:hover {
				cursor: pointer;
			}
			#albumArtDarken {
				background: transparentize(black, 0.5);
				bottom: 0;
				left: 0;
				opacity: 0;
				position: absolute;
				right: 0;
				top: 0;
				transition: opacity 0.25s;
				-webkit-transition: opacity 0.25s;
			}
			#changeAlbumImageSpinner {
				color: white;
				display: none;
				font-size: 60px;
				left: 175px;
				position: absolute;
				top: 159px;
			}
			#albumArtPrompt {
				@include TranslucentBar;
				bottom: 0;
				color: $white;
				font-family: $OpenSans;
				font-size: 24px;
				font-weight: 700;
				left: 0;
				line-height: 45px;
				position: absolute;
				right: 0;
			}
		}
		#new_image {
			display: none;
		}
		#album_target {
			display: none;
		}
		#newAlbumFeedback {
			display: none;
			margin: 10px auto 0 auto;
			width: 320px;
		}
		#new_album {
			margin-top: 10px;
			text-align: center;
			input[type='text'] {
				width: 170px;
			}
			#saveAlbumButton {
				width: 372px;
			}
		}
	}
	#newAlbumID {
		display: none;
	}
	#newAlbumSongs {
		opacity: 0.2;
		pointer-events: none;
		-webkit-filter: blur(2px);
		&.SongGridActive {
			opacity: 1;
			pointer-events: auto;
			-webkit-filter: none;
		}
		h1 {
			color: $white;
			font-family: $OpenSans;
		}
		#inAlbum {

		}
		#allSongs {
			text-align: left;
			h1 {
				text-align: center;
			}
			.SongGridItem {
				&.SelectedSong {
					.SongSelected {
						opacity: 1;
					}
				}
			}
			.SongSelected {
				@include TranslucentBar;
				color: $white;
				font-family: $OpenSans;
				height: auto;
				left: 0;
				opacity: 0;
				padding: 6px 3px;
				position: absolute;
				right: 0;
				top: 0;
				transition: opacity 0.5s;
				-webkit-transition: opacity 0.5s;
			}
			.SongGridItem {
				display: inline-block;
				height: 150px;
				margin: 6px;
				position: relative;
				width: 150px;
				&:hover {
					cursor: pointer;
				}
				.SongName {
					@include TranslucentBar;
					bottom: 0;
					color: $white;
					font-family: $OpenSans;
					font-size: 14px;
					font-weight: 600;
					height: auto;
					left: 0;
					line-height: 100%;
					margin-bottom: 0;
					padding: 6px 3px;
					position: absolute;
					right: 0;
				}
			}
		}
	}
}