// Place all the styles related to the Burble controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";
@import "shared";

@import "custom_bootstrap";
@import "bootstrap";

#container {
  margin-top: 50px;
  position: relative;
  width: 100%;
  #mapContainer {
    background: #CCC;
    height: 800px;
    opacity: 0.65;
    position: relative;
    width: 100%;
  }
  #burbleBoxContainer {
    height: 200px;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    width: 100%;
    #burbleBox {
      background: $Wallhash;
      border: 6px solid transparentize(black, 0.75);
      border-radius: 6px;
      margin: auto;
      position: relative;
      top: 200px;
      width: 500px;
      #discoverForm {
        margin: 10px;
        #discoverBox {
          @include vendor-prefix(box-sizing, border-box);
          height: 50px;
          margin: 0;
          width: 100%;
        }
      }
      #mainFeed {
        list-style: none;
        margin: 10px;
        .BurbleMainFeedItem {
          border-top: 1px solid #CCC;
          padding: 8px 0;
          .BurbleFeedProfile {
            height: 40px;
            margin-right: 8px;
            width: 40px;
          }
        }
      }
    }
  }
}