// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "fonts";
@import "variables";
@import "shared";

@import "custom_bootstrap";
@import "bootstrap";

html {
  background: $Txture;
}

header {
  @include AppHeader;
}

#container {
  background: $Txture;
  clear: both;
  margin: 125px auto auto auto;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 1200px;
  #attendeesListBar {
    box-sizing: border-box;
    display: inline-block;
    // float: left;
    left: 0;
    top: 60px;
    position: absolute;
    vertical-align: top;
    width: 200px;
    div {
      padding: 0 16px;
      &#attendees {
        border-top: 1px groove $white;
      }
    }
    h1 {
      color: $white;
      font-family: $OpenSans;
      font-size: 28px;
      font-weight: 300;
      margin: 10px auto;
    }
    .AttendeeList {
      list-style: none;
      padding-left: 0;
      li {
        height: 40px;
        overflow: hidden;
        position: relative;
        .AttendeePhoto {
          display: inline-block;
          left: 0;
          position: absolute;
          top: 5px;
        }
        .AttendeeName {
          color: white;
          display: inline-block;
          font-family: $OpenSans;
          font-size: 14px;
          font-weight: 400;
          left: 38px;
          margin: 0;
          position: absolute;
          top: 10px;
          white-space: nowrap;
        }
      }
    }
    #invite {
      border-top: 2px groove #333;
      padding-top: 12px;
      p {
        color: $inactiveWhite;
        font-size: 13px;
        font-weight: 600;
        @include vendor-prefix(transition, color 0.25s);
        &:hover {
          color: $white;
          cursor: pointer;
        }
      }
    }
    #inviteModal {
      @include Modal;
      padding: 0;
    }
  }

  #eventInfo {
    @include AppContentLayerShadow;
    background: transparentize(white, 0.5);
    box-sizing: border-box;
    display: inline-block;
    // float: left;
    left: 200px;
    position: absolute;
    top: 60px;
    vertical-align: top;
    width: 880px;
    #eventHeader {
      height: 360px;
      position: relative;
      width: 880px;
      img {
        height: 360px;
      }
      #eventBasicInfo {
        @include TranslucentBar;
        bottom: 0;
        z-index: 1;
        #eventName {
          color: white;
          display: inline-block;
          font-family: $OpenSans;
          font-size: 24px;
          font-weight: 400;
          margin: 6px 8px;
        }
        #datetimepicker {
          // display: none;
        }
        #eventLoc {
          color: $white;
          display: inline-block;
          font-family: $OpenSans;
          font-size: 18px;
          font-weight: 300;
          margin: 10px 8px;
          #startTime, #endTime {
            width: 180px;
          }
        }
        #eventResponse {
          background: transparentize(gray, 0.25);
          border-radius: 6px;
          display: inline-block;
          float: right;
          margin: 8px;
          padding: 6px;
          .EventResponseAction {
            color: $inactiveWhite;
            font-family: $OpenSans;
            font-size: 16px;
            font-weight: 600;
            padding: 6px 12px;
            width: 100px;
            &:hover {
              color: $partialActiveWhite;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  #eventActions {
    box-sizing: border-box;
    display: none;
    left: 1080px;
    padding: 0 16px;
    position: absolute;
    width: 120px;
  }
}