#songDetails {
  .SongImage {
    display: inline-block;
    height: 100%;
    width: 100%;
  }
  .SongControls {
    .PlayPause {
      left: 75px;
      position: absolute;
      top: 95px;
    }
  }
  #songName {
    color: $nepTuneOrange;
    font-size: 14px;
    line-height: 20px;
    width: 200px;
  }
  p {
    color: $black;
    margin-bottom: 4px;
    &#songAlbum {
      font-size: 11px;
    }
    &#songAdded {
      font-size: 11px;
    }
  }
}