<header id='header'>
  <!-- <div id='headerContainer'>
    <div id='headerLogo'>Tunetap</div>
    <div id='headerPlaybar'>Playbar</div>
    <div id='headerLogin'>Login</div>
  </div> -->
  <%= render 'layouts/app_header' %>
  <%= render 'layouts/playbar' %>
</header>
<div id='container'>
  <div class='DJAX' id='mapContainer'></div>
  <div class='DJAX' id='burbleBoxContainer'></div>
  <div class='DJAX' id='contentWrapper'></div>
</div>