#newAlbumContainer {
  text-align: center;
}
#newAlbumInfo {
  display: inline-block;
  width: 300px;
  #albumArt {
    position: relative;
    &:hover {
      cursor: pointer;
    }
    #albumArtDarken {
      background: transparentize(black, 0.5);
      bottom: 0;
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity 0.25s;
      -webkit-transition: opacity 0.25s;
    }
    #changeAlbumImageSpinner {
      color: white;
      display: none;
      font-size: 60px;
      left: 175px;
      position: absolute;
      top: 159px;
    }
    #albumArtPrompt {
      @include TranslucentBar;
      bottom: 0;
      color: $white;
      font-family: $OpenSans;
      font-size: 18px;
      font-weight: 700;
      left: 0;
      line-height: 45px;
      position: absolute;
      right: 0;
    }
  }
  #new_image {
    display: none;
  }
  #album_target {
    display: none;
  }
  #newAlbumFeedback {
    display: none;
    margin: 10px auto 0 auto;
    width: 320px;
  }
  #new_album {
    margin-top: 10px;
    text-align: center;
    input[type='text'] {
      width: 170px;
    }
    #album_year {
      width: 97px;
    }
    #saveAlbumButton {
      width: 300px;
    }
  }
}
#newAlbumID {
  display: none;
}
#newAlbumSongs {
  // opacity: 0.2;
  // pointer-events: none;
  // -webkit-filter: blur(2px);
  display: inline-block;
  margin-left: 5px;
  vertical-align: top;
  width: 680px;
  &.SongGridActive {
    opacity: 1;
    pointer-events: auto;
    -webkit-filter: none;
  }
  h1 {
    color: $white;
    display: inline-block;
    font-family: $OpenSans;
    width: auto;
  }
  #inAlbum {

  }
  #allSongs {
    text-align: left;
    width: auto;
    h1 {
      display: inline-block;
      text-align: center;
      width: 450px;
    }
    #newSongButton {
      display: inline-block;
      position: relative;
      top: -8px;
      width: 150px;
    }
    #songGrid {
      margin-top: 24px;
      position: relative;
      .SongGridItem {
        display: inline-block;
        float: left;
        vertical-align: top;
        &.SelectedSong {
          .SongSelected {
            opacity: 1;
          }
        }
        .SongTrackForm {
          margin-bottom: 0;
          .TrackNumberField {
            font-size: 12px;
            height: 16px;
            margin-left: 8px;
          }
        }
        .SongImage {
          display: inline-block;
          min-height: 100%;
          vertical-align: top;
          width: auto;
        }
      }
    }
    .SongSelected {
      @include TranslucentBar;
      color: $white;
      font-family: $OpenSans;
      height: auto;
      left: 0;
      opacity: 0;
      padding: 6px 3px;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity 0.5s;
      -webkit-transition: opacity 0.5s;
      .SongTrackForm {
        display: inline-block;
        input[type="text"] {
          font-size: 14px;
          height: 18px;
          margin: 2px auto;
          width: 100px;
        }
      }
    }
    .SongGridItem {
      display: inline-block;
      height: 150px;
      margin: 6px;
      position: relative;
      top: 0;
      width: 150px;
      &:hover {
        cursor: pointer;
      }
      .SongName {
        @include TranslucentBar;
        bottom: 0;
        color: $white;
        font-family: $OpenSans;
        font-size: 14px;
        font-weight: 600;
        height: auto;
        left: 0;
        line-height: 100%;
        margin-bottom: 0;
        padding: 6px 3px;
        position: absolute;
        right: 0;
      }
    }
  }
}