<div class='SliderElement SliderElementCurrent SliderAddElement' id='gallery0'>
	<div class='SliderElementInnerContent' id='addGalleryElement'>
		<div class='AddElementOption' id='addImage'>
			<div class='AddElementFace'>
				<p class='Icon AddElementIcon'>&#59413;</p>
				<p>Add image</p>
			</div>
			<div class='AddElementInfo' id='addImageOptions'>
				<h2><span class='Icon'>&#59413;</span> Add Image</h2>
				<div class='UploadPreview' id='imageUploadPreview'>
					<button class='btn btn-primary' id='selectImageButton'>Select Image</button>
					<input type='file' id='selectImage' />
				</div>
				<input type='text' class='AddElementCaption' id='addImageCaption'
placeholder='Caption for this picture' />
				<div class='AddElementActions'>
					<button class='btn AddElementCancel'>Cancel</button>
					<button class='btn btn-primary'>Save Image</button>
				</div>
			</div>
		</div>
		<div class='AddElementOption' id='addVideo'>
			<div class='AddElementFace'>
				<p class='Icon AddElementIcon'>&#59414;</p>
				<p>Add video</p>
			</div>
			<div class='AddElementInfo' id='addVideoOptions'>
				<h2><span class='Icon'>&#59414;</span> Add Video</h2>
				<div class='UploadPreview' id='videoUploadPreview'>
					<input type='text' class='AddVideoURL' placeholder='Video URL' id='videoURL'
/>
				</div>
				<input type='text' class='AddElementCaption' id='addVideoCaption'
placeholder='Caption for this video'/>
				<div class='AddElementActions'>
					<button class='btn AddElementCancel'>Cancel</button>
					<button class='btn btn-primary' id='saveVideo'>Save Video</button>
				</div>
			</div>
		</div>
	</div>
</div>  