<%= link_to '#' do %><div class='Icon SliderNav SliderNavDisabled' id='sliderNavLeft'>&#59399;</div><% end %>
<div class='Slider' id='slider'>
	<div class='SliderElement SliderElementCurrent' id='gallery0'>
		<h2 class='SliderTitle NoblockTitle'><p>Phillip Phillips &mdash; Home (Piano/Cello Cover)</p></h2>
		<iframe width="640" height="360" src="http://www.youtube.com/embed/aF-Z1A0ujlg?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>
	<div class='SliderElement' id='gallery1'>
		<h2 class='SliderTitle NoblockTitle'><p>Beethoven's 5 Secrets &mdash; OneRepublic (Cello/Orchestral Cover)</p></h2>
		<iframe width="640" height="360" src="http://www.youtube.com/embed/mJ_fkw5j-t0" frameborder="0" allowfullscreen></iframe>
	</div>
	<div class='SliderElement' id='gallery2'>
		<h2 class='SliderTitle NoblockTitle'><p>Mission Impossible (Piano/Cello/Violin) ft. Lindsey Stirling</p></h2>
		<iframe width="640" height="360" src="http://www.youtube.com/embed/9p0BqUcQ7i0?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>
	<div class='SliderElement' id='gallery3'>
		<h2 class='SliderTitle NoblockTitle'><p>Coldplay &mdash; Paradise (Peponi) African Style ft. Alex Boye</p></h2>
		<iframe width="640" height="360" src="http://www.youtube.com/embed/Cgovv8jWETM?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
<%= link_to '#' do %><div class='Icon SliderNav' id='sliderNavRight'>&#59401;</div><% end %>