<div id='pageHeader'>
  <div id='pageHeaderContainer'>
	  <ul id='headerNavLinks'>
	    <li><strong>Karmonix</strong></li>
	    <li>Me</li>
	  </ul>
      <%= render 'layouts/playbar' %>
      
	  <form id='headerSearch'>
	    <input type='text' id='headerSearchField'
               placeholder='Search for people, songs, and events'/>
	  </form>
	</div>
</div>  