<div id='pageHeader'>
  <div id='pageHeaderContainer'>
	  <ul id='headerNavLinks'>
	    <li>T</li>
	    <li>Discover</li>
	    <li>Events</li>
	    <li>Me</li>
	  </ul>
	  <form id='headerSearch'>
	    <input type='text' id='headerSearchField' placeholder='Search for people, songs, and events' />
	  </form>
	</div>
</div>