<div id='artistSidebar'>
  <section id='artistProfile'>
    <%= image_tag("pianoguys.jpg", size: "160x160", alt: "The Piano Guys", class: "ArtistProfilePic") %>
    <p class='ArtistProfileName'>The Piano Guys</p>
    <h2 class='SidebarSubheading'>Who we are</h2>
    <p class='ArtistProfileBio'>The Piano Guys have quickly become an international sensation by way of their immensely successful self-made music videos. Their uniquely unprecedented sound mixing pop and classical music conveyed through stunning cinematography has them consistently atop iTunes and YouTube charts alike. If youve seen a piano on a cliff or a train or a cellist jumping out of a plane then you've seen The Piano Guys!</p>
  </section>
  <section id='artistActions'>
    <button class='ArtistAction ArtistActionOn' id='artistFollow'>Following</button>
    <button class='ArtistAction' id='artistSupport'>Support</button>
  </section>
  <section class='ArtistNav'>
    <ul>
      <li class='ArtistNavFirst' id='artistAbout'>About</li>
      <li id='artistMusic'>Music</li>
      <li id='artistEvents'>Events</li>
      <li id='artistBurble'>Burble</li>
      <li class='ArtistNavLast' id='artistFans'>Fans</li>
    </ul>
  </section>
</div>