<div class='ModalBackdrop' id='backdrop'></div>
<div class='Modal' id="<%= custom_id if !custom_id.blank? %>">
  <div class="m-body">
    <button type="button" class="close ModalDismiss" aria-hidden="true">&times;</button>
    <div class='Load'></div>
  </div>
</div>