<div class='row' id='pageHero'>
	<div class='span6' id='heroText'>
		<h1 id='heroTagline'><%= tagline %></h1>
		<p id='heroBlurb'>
			nepTune will be launching later this year.<br />
			Sign up for exclusive access to our platform.
		</p>
	</div>
	<div class='span6' id='heroSignup'>
		<%= render partial: 'shared/hero_signup' %>
	</div>
</div>