<div id='playbar'>
  <div id="playPauseBtn" onclick='togglePause()'>
    <span class='Icon PlayIcon'>&#59416;</span>
    <span class='Icon PauseIcon'>&#59417;</span>
  </div>
  <div class="songbar">
    <div id='nowPlaying'>Nothing playing...</div>
    <div class="statusbar">
      <div class="loading" style="width: 0%;"></div>
      <div class="position" style="width: 0%;"></div>
    </div>
  </div>
  <div id='playlistBtn'>
    <span class='Icon ListIcon'>&#59403;</span>
  </div>
</div>