<div id='playbar' class="Visible">

  <div class="songbar">
    <div id='nowPlaying'>Nothing playing...</div>
    <div class="statusbar">
      <!-- <div class="loading" style="width: 100%;"></div> -->
      <div class="position" style="width: 63.3418%;"></div>
    </div>
  </div>
  <button id="playPauseBtn" class="btn btn-primary" onclick='togglePause()'> Play/Pause </button>
</div>     