<div id='playbar'>

  <div class="songbar">
    <div id='nowPlaying'>Nothing playing...</div>
    <div class="statusbar">
      <div class="loading" style="width: 0%;"></div>
      <div class="position" style="width: 0%;"></div>
    </div>
  </div>
  <button id="playPauseBtn" class="btn" onclick='togglePause()'>Play</button>
</div>          